RewriteEngine On

# Redirección para peticiones API
RewriteRule ^api/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ api/$1.php?matricula=$2 [QSA,L]

# Redirección para vistas normales
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?view=$1 [QSA,L]
